* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
/* Header */

.content-wrapper {
    width: 80%;
    margin: 0 64px;
}
.nav-container {
    display: flex;
    justify-content: center;
}
header {
    box-shadow: rgb(0 0 0 / 5%) 0 4px 12px 0;
    margin-bottom: 64px;
}
.nav-bar {
    padding: 0 16px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar-right-side {
    display: flex;
    align-items: center;
}
.nav-bar-right-side div{
    align-items: center;
    margin-left: 15px;
}
.nav-logo-con {
    display: flex;
}
.nav-logo-con a {
    padding: 0 16px 0 0;
}
.upgrade-btn {
    font-size: 14px;
    padding: 6px 12px 8px;
    border: 1px solid rgb(117,117,117);
    border-radius: 25px;
}
.upgrade-btn:hover {
    border: 1px solid black;
    cursor: pointer;
}
.profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.a-ref-default-remove {
    text-decoration: none;
    color: black;
}
.search-icon-con {
    display: flex;
}
.fa-search {
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}
.search-top-nav {
    width: 180px;
    margin-right: 28px;
    height: 33px;
    border-style: none;
    outline: none;
    font-size: 15px;
    display: none;
}
.profile-img-drop-down {
    position: absolute;
    background-color: white;
    right: 5%;
    border: solid 1px rgb(230,230,230);
    width: 240px;
    padding: 10px 0;
    border-radius: 4px;
    display: none;
}
.drop-down-a {
    text-decoration: none;
    font-size: 14px;
}
.color-grey {
    color: rgb(117,117,117)
}
.profile-img-drop-down ul li a:hover {
    color: black;
}
.profile-img-con {
    cursor: pointer;
    display: flex;
}
.ul-style {
    list-style: none;
}
.li-p {
    padding: 8px 20px;
}
.separator {
    padding-top: 8px;
    padding-bottom: 8px;
}
.separator-line {
    border-top:1px solid rgba(230, 230, 230, 1);
}
.drop-down-profile-window {
    display: flex;
}
.user-information-window{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.black {
    color: black;
}
.green {
    color: rgb(180,217,179);
}
.d-block {
    display: block;
}

/* article */

.main-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.main-content-wrapper {
    display: flex;
    flex-direction: column;
    width: 680px;
    margin: 0 64px;
}
.article-title {
    font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    color: rgba(41, 41, 41, 1);
}
.profile-info {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.read-time-con {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(117, 117, 117, 1);
}
.username-over-article {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.article-header {
    display: flex;
    align-items: center;
}
.user-article-image {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}
.con1 {
    height: 50px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bookmark {
    font-size: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.main-article-img {
    max-width: 100%;
    margin: 56px 0 56px 0;
}
.article-text {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    margin-bottom: 80px;
}
footer {
    background-color:  rgb(25,25,25);
    height: 100px;
}
.bookmark-btn:hover {
    color: rgba(117, 117, 117, 1);
    transform: scale(1.1);
}
.bookmark-btn:active {
    color: black;
    transform: scale(1);
}
/* clap and comment */

.clap-image {
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.clap-image:active {
    width: 22px;
    height: 22px;
}
.h-30px {
    height: 30px;
}

.claps-count {
    width: 25px;
    height: 25px;
}

/* comment */

.comment-input {
    height: 80px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 8px;
    border: rgb(255, 255, 255) solid 1px;
    background-color:  rgb(250,250,250);
    outline: none;
}
.comment-button {
    font-size: 14px;
    padding: 6px 12px 8px;
    border: 1px solid rgb(117,117,117);
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
}
.comment-button:hover {
    border: 1px solid black;
}

.comment-input:active {
    border: white 1px solid;
}

.comments-con {
    margin: 50px 0 100px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
textarea {
    resize: none;
}

.comment-window {
    margin: 20px 0 20px;
    border-bottom: 1px solid rgb(196,196,196);
}

.comment-user {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    height: 30px;
    margin: 10px 10px 10px 15px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.delete-comment {
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: white;
    font-weight: 500;
}
.delete-comment:active {
    color: rgb(102,104,107);
}
.comment-content {
    width: 100%;
    padding: 20px;
}

.profile-pic{
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
.comment-profile-info {
    display: flex;
    align-items: center;
}

.comment-date {
    margin-left: 10px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(117, 117, 117, 1);
}

.all-comment-content {
    background-color: rgb(250,250,250);
}
