* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.content-wrapper {
  width: 60%;
  margin: 0 auto;
}
.nav-container {
  display: flex;
  justify-content: center;
}
header {
  margin-top: 30px;
}
.nav-bar {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-bar-right-side {
  display: flex;
  align-items: center;
}
.nav-bar-right-side div {
  align-items: center;
  margin-left: 15px;
}
.nav-logo-con {
  display: flex;
}
.nav-logo-con a {
  padding: 0 16px 0 0;
  border-right: 1px solid rgb(117, 117, 117);
}
.hello {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 0 16px;
  display: flex;
  align-items: center;
}
.upgrade-btn {
  font-size: 14px;
  padding: 6px 12px 8px;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 25px;
}
.upgrade-btn:hover {
  border: 1px solid rgb(54, 54, 54);
  cursor: pointer;
  transition: 0.25s;
}
.profile-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.a-ref-default-remove {
  text-decoration: none;
  color: black;
}
.search-icon-con {
  display: flex;
}
.fa-search {
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
}
.search-top-nav {
  width: 180px;
  margin-right: 28px;
  height: 33px;
  border-style: none;
  outline: none;
  font-size: 15px;
  display: none;
}
.profile-img-drop-down {
  position: absolute;
  background-color: white;
  right: 30px;
  border: solid 1px rgb(230, 230, 230);
  width: 240px;
  padding: 10px 0;
  border-radius: 4px;
  display: none;
}
.drop-down-a {
  text-decoration: none;
  font-size: 14px;
}
.color-grey {
  color: rgb(117, 117, 117);
}
.profile-img-drop-down ul li a:hover {
  color: black;
}
.profile-img-con {
  cursor: pointer;
  display: flex;
}
.ul-style {
  list-style: none;
}
.li-p {
  padding: 8px 20px;
}
.separator {
  padding-top: 8px;
  padding-bottom: 8px;
}
.separator-line {
  border-top: 1px solid rgba(230, 230, 230, 1);
}
.drop-down-profile-window {
  display: flex;
}
.user-information-window {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}
.black {
  color: black;
}
.green {
  color: rgb(180, 217, 179);
}
.d-block {
  display: block;
}

@media screen and (max-width: 750px) {
  .upgrade-btn-con {
    display: none;
  }
  .search-icon-con {
    display: none;
  }
  .hello {
    display: none;
  }
  .content-wrapper {
    margin: 0 10px;
  }
}

/* The sidebar menu */
.side-nav {
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: inline;
}

/* The navigation menu links */
.side-nav a {
  padding: 0px 8px 20px 0;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.side-nav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 250px;
  padding: 0px 10px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

.side-bottom {
  border-top: 1px solid rgb(233, 233, 233);
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.side-bottom a {
  font-size: 12px;
  margin-right: 15px;
  padding-bottom: 5px;
}

.heading {
  border-bottom: 1px solid rgb(233, 233, 233);
  padding: 20px 0 20px 0;
}

.main h3 {
  font-size: 21px;
}

.name {
  padding: 30px 0 30px 0;
}

.note {
  font-size: 14px;
}

.edit-btn {
  font-size: 14px;
  padding: 6px 12px 8px;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 25px;
  width: 60px;
  text-align: center;
}

.edit-btn:hover {
  border: 1px solid rgb(54, 54, 54);
  cursor: pointer;
  transition: 0.25s;
}

.flex {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(233, 233, 233);
  padding-bottom: 10px;
  margin-bottom: 24px;
  align-items: baseline;
}

.profile-pic {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-left: 70px;
}

.flex-two {
  display: flex;
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}

.margin-btm {
  margin-bottom: 20px;
}

.margin-lft {
  margin-left: 20px;
}

.bottom {
  box-shadow: 0px 15px 10px -15px rgb(224, 224, 224);
}

.signout-btn {
  font-size: 14px;
  padding: 6px 12px 8px;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 25px;
  width: 90px;
  text-align: center;
  vertical-align: middle;
}

.light {
  border: 1px solid rgb(221, 221, 221);
}

.signout-btn:hover {
  border: 1px solid rgb(54, 54, 54);
  cursor: pointer;
  transition: 0.25s;
}

.flex-three {
  display: flex;
  justify-content: space-between;
}
