/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
main {
    padding-top: 74px;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 74px;
    align-items: center;
    background-color: rgb(242,77,46);
    border-bottom: solid 1px black;
    position: fixed;
    top: 0;
    width: 100%
}
.navigation {
    display: flex;
    align-items: center;
}
.navigation a {
    margin: 0 12px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}
.navigation a:hover {
    text-decoration: underline;
}
.brand-container a img {
    padding: 25px;
}
.button {
    padding: 7px 19px;
    background-color: black;
    color: white;
    font-size: 17px;
    border-radius: 20px ;
    transition: 0.4s ease-in-out;
    text-align: center;
}
.button:hover {
    opacity: 0.8;
}
.main-wrapper {
    display: flex;
    background-color: rgb(242,77,46);
}
.start-writing-con {
    width: 66.66%;
    padding: 30px;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}
.image-con {
    width: 33.33%;
    padding: 30px;
    border-bottom: solid 1px black;
}
.header-1 {
    font-family: 'Gt super text book', Georgia, sans-serif;
    font-size: 7.3vw;
    line-height: 100%;
    font-weight: 400;
}
.under-header-text-con {
    font-size: 18px;
    margin-top: 40px;
}
.header-wrap {
    margin-bottom: 60px;
}
.under-header-text-sub-con {
    width: 80%;
    max-width: 80%;
    margin-bottom: 20px;
}
.button-style {
    text-decoration: none;
}
.button-2-wrapper {
    display: flex;
}
.button-2 {
    background-color: white;
    margin-right: 25px;
    font-size: 22px;
    padding: 7px 50px 10px;
    border-radius: 25px;
}
.btn-2-1 {
    color: black;
    border: 1px solid white;
    transition: 0.4s ease-in-out;
}
.btn-2-1:hover {
    color: white;
    background-color: rgb(242,77,46);
}
.btn-2-2 {
    color: white;
    background-color: rgb(242,77,46);
    border: 1px solid white;
    transition: 0.4s ease-in-out;
}
.btn-2-2:hover {
    color: black;
    background-color: white;
}
.first-trifold {
    background-color: rgb(242,77,46);
    display: flex;
}
.trifold-container {
    width: 33.33%;
    padding: 30px 20px 20px;
    border-bottom: 1px solid black;
}
.large-margin-bottom {
    margin-bottom: 75px;
}
.header-2 {
    font-family: 'Gt super text book', Georgia, sans-serif;
    font-size: 3.2vw;
    font-weight: 400;
}
.paragraph {
    font-size: 18px;
}
.trifold-middle {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.under-header-text-con-medium-screen {
    background-color: rgb(242,77,46);
    padding: 30px;
    margin-top: 0;
    border-bottom: 1px solid black;
    display: none;
}
.nav-bar-mobile {
    display: none;
}
.empty-footer {
    height: 1000px;
}

@media screen and (max-width: 1000px) {
    .under-header-text-con-medium-screen {
        display: block;
    }
    .large-screen {
        display: none;
    }
    .header-2 {
        font-size: 28px;
    }
}
@media screen and (max-width: 670px) {
    .header-1 {
        font-size: 60px;
    }
    .button-2 {
        font-size: 17px;
        padding: 7px 25px 10px;
    }
    .start-writing-con {
        padding: 20px;
    }
    .image-con {
        padding: 20px;
    }
    .under-header-text-con {
        padding: 20px;
    }
    .trifold-container {
        padding: 12px 20px;
    }
    .navigation a {
        font-size: 13px;
    }
}
@media screen and (max-width: 585px) {
    .navigation-mobile {
        background-color: rgb(242,77,46);
    }
    .nav-bar-desktop {
        display: none;
    }
    .nav-bar-mobile {
        display: flex;
        border-bottom: 1px solid black;
    }
    .navigation {
        justify-content: space-around;
        padding: 15px 0;
        background-color: rgb(242,77,46);
    }
    .mobile-fixed-nav {
        position: fixed;
        top: 74px;
        width: 100%
    }
    .button {
        font-size: 15px;
        padding: 4px 14px;
    }
    .brand-container a img {
        padding: 15px;
    }
    main {
        padding-top: 120px;
    }
}
@media screen and (max-width: 485px) {
    .first-trifold {
        flex-direction: column;
    }
    .trifold-container {
        width: 100%;
    }
    .trifold-middle {
        border-right: none;
    }
    .image-con {
        display: none;
    }
    .start-writing-con {
        width: 100%;
        border-right: none;
    }
}
